<title>
	<%= title %>
</title>
<link rel="stylesheet" type="text/css" href='bootstrap/css/bootstrap.css'>
<link rel="stylesheet" type="text/css" href=<%= css_file %>>
<script type="text/javascript" src=<%= js_file %>></script>