body{
	background-color: #01708C;
	font-family: ariel, sans-serif;
	color:#655759;
}
#company{
	float:left;
	color:white;
	position: fixed;
	margin: 10px;
	font-size:30px;
}
.signup{
	margin-top: 7% !important;
	margin-left: 37%;
	margin-right: 37%;
	background-color: #E9E3E3;
	padding : 20px;
	position: relative;
}
#login_submit{
	background-color: #215BB0; 
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 15px;
	font-weight: 600;
	border: 3px solid white;
	border-radius: 5px
}
#signup_submit{
	background-color: #215BB0;
	box-shadow: none;
	width: 100%;
	color:white;
	border-radius: 7px;
	font-size: 15px;
	font-weight: 600;
}
.signup-form{
	width: 100%;
	margin-top: 10px
}
.signup-inputs input{
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 15px;
	box-shadow: 1px 5px #BBB9BC
}
.heads{
	width:100%;
	float:left;
	top:0;
	left:0;
	position: relative;
}
.login-form input{
	height:3%;
	width:21%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right:5px;
	margin-top:15px;
	top:0;
	font-size:14px;
	box-shadow: 1px 3px #555759;
}
.sm{
	background-color:#d7dae0;
	padding-top:5px;
	padding-left: 5px;
	padding-right: 5px;
	width:55%;
	margin: 10px;
	margin-left: 20%;
	margin-right: 20%;
	box-shadow: 1px 5px #BBB9BC;
}
#sm_image{
	height:20%;
	width:100%;
	margin-bottom:2px;
}
#forgot_pass{
	text-decoration: none;
	color:white;
	margin-right: 15%;
	font-size: 14px;
}